body {
    text-align: center;
}

h1 {
    color: rgb(83, 78, 158);
}

.board {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;

}

.col {
    display: flex;
    height: 10rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/*
.border-under {
    border-bottom: 0.1rem solid black;
}
*/

.row-draw {
    background-color: black;
    height: 1rem;
    width: 90rem;
    margin-top: -1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
}

.col-draw {
    margin-left: -1rem;
}

.col-draw-1 {
    background-color: black;
    height: 10rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 66% 100%, 0 100%);
}

.col-draw-2 {
    background-color: black;
    height: 10rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 66% 0, 33% 100%, 0 100%);
}


.col-draw-3 {
    background-color: black;
    height: 10rem;
    width: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 33% 0, 0% 100%, 0 100%);
}